h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    background-color: gray;
    padding: 20px;
    margin: 0px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-size: 25px;
}

.toplinks {
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    display: flex;
    margin: 0px 0px;
    margin-left: 420px;
    margin-right: 420px;
    padding: 2px 2px;
    background-color: orange;
    border: 3px solid #e65a00;
    border-radius: 15px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
      
    
}

.toplinks:hover {
    text-decoration: underline;
    transform: scale(1.1);
    border-radius: 5px;
}

.purple {
    color: purple;
}